*~
.DS_Store

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
.cache
*.log
# don't store keychains
dot_gnupg/trustdb.gpg
dot_gnupg/*.kbx
payload/*Desktops/
payload/config/git.bz2
*.icns
Icon*
*.workflow/xcuserdata
*.xcodeproj/xcuserdata
*.workflow/xcuserdata/*
*.xcodeproj/project.workflow/xcuserdata/*
swiftpm
IDEWorkspaceChecks.plist
Unit\ Tests/