[submodule "CEP-4"]
	path = CEP/4
	url = https://gist.github.com/cc041f10aad1d43a5ef15f50a6bbd5a5.git
	ignore = dirty

[submodule "CEP-5"]
	path = CEP/5
	url = https://gist.github.com/3d2bd3cf37f87974df6f7bee31a05a89.git
	ignore = dirty

[submodule "CEP-7"]
	path = CEP/7
	url = https://gist.github.com/123b8a45f1bdeb064079e0524a29ec20.git
	ignore = dirty

[submodule "CEP-8"]
	path = CEP/8
	url = https://gist.github.com/b7ee98df9e636a51806e62ef9c4ab161.git
	ignore = dirty
	
[submodule "CEP-9"]
	path = CEP/9
	url = https://gist.github.com/d840ee9990e65f302ce2a8d78ebe73f6.git
	ignore = dirty
