*~
.DS_Store

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
.cache
*.log
# don't store keychains
dot_gnupg/trustdb.gpg
dot_gnupg/*.kbx
payload/*Desktops/
*.icns
Icon*